MAIL_USERNAME=john@gmail.com
MAIL_PASSWORD=efe dfd fdf fd
MAIL_FROM=example@gmail.com
MAIL_PORT=587,
MAIL_SERVER=smtp.gmail.com
ACCESS_TOKEN_EXPIRE_MINUTES=60
SECRET_KEY=db38d44a27a93533df17bafae55ad1d3b33b0b7ae72f48bfacd1f8de83b67a07
ALGORITHM=HS256